# Setup

## Imports

In [3]:
import pandas as pd
from pyarrow import csv
import plotly.express as px

## Config

In [4]:
pd.options.display.float_format = '${:,.2f}'.format
pd.options.display.max_rows = 25

# Data Ingestion

**Data source**: https://www.kaggle.com/neuromusic/avocado-prices

In [8]:
avocado_path = r"C:\Users\matth\OneDrive\Data\Kaggle\avocado.csv"

In [11]:
arrow_avo = csv.read_csv(avocado_path)

In [12]:
arrow_avo

pyarrow.Table
: int64
Date: timestamp[s]
AveragePrice: double
Total Volume: double
4046: double
4225: double
4770: double
Total Bags: double
Small Bags: double
Large Bags: double
XLarge Bags: double
type: string
year: int64
region: string

In [19]:
df_avo = arrow_avo.remove_column(0).to_pandas()

In [20]:
df_avo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  datetime64[ns]
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   4046          18249 non-null  float64
 4   4225          18249 non-null  float64
 5   4770          18249 non-null  float64
 6   Total Bags    18249 non-null  float64
 7   Small Bags    18249 non-null  float64
 8   Large Bags    18249 non-null  float64
 9   XLarge Bags   18249 non-null  float64
 10  type          18249 non-null  object
 11  year          18249 non-null  int64
 12  region        18249 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(1), object(2)
memory usage: 1.8+ MB

In [21]:
df_avo.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,$1.33,"$64,236.62","$1,036.74","$54,454.85",$48.16,"$8,696.87","$8,603.62",$93.25,$0.00,conventional,2015,Albany
1,2015-12-20,$1.35,"$54,876.98",$674.28,"$44,638.81",$58.33,"$9,505.56","$9,408.07",$97.49,$0.00,conventional,2015,Albany
2,2015-12-13,$0.93,"$118,220.22",$794.70,"$109,149.67",$130.50,"$8,145.35","$8,042.21",$103.14,$0.00,conventional,2015,Albany
3,2015-12-06,$1.08,"$78,992.15","$1,132.00","$71,976.41",$72.58,"$5,811.16","$5,677.40",$133.76,$0.00,conventional,2015,Albany
4,2015-11-29,$1.28,"$51,039.60",$941.48,"$43,838.39",$75.78,"$6,183.95","$5,986.26",$197.69,$0.00,conventional,2015,Albany

# Data Cleaning

In [23]:
df_avo.describe()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,"$18,249.00","$18,249.00","$18,249.00","$18,249.00","$18,249.00","$18,249.00","$18,249.00","$18,249.00","$18,249.00","$18,249.00"
mean,$1.41,"$850,644.01","$293,008.42","$295,154.57","$22,839.74","$239,639.20","$182,194.69","$54,338.09","$3,106.43","$2,016.15"
std,$0.40,"$3,453,545.36","$1,264,989.08","$1,204,120.40","$107,464.07","$986,242.40","$746,178.51","$243,965.96","$17,692.89",$0.94
min,$0.44,$84.56,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$2,015.00"
25%,$1.10,"$10,838.58",$854.07,"$3,008.78",$0.00,"$5,088.64","$2,849.42",$127.47,$0.00,"$2,015.00"
50%,$1.37,"$107,376.76","$8,645.30","$29,061.02",$184.99,"$39,743.83","$26,362.82","$2,647.71",$0.00,"$2,016.00"
75%,$1.66,"$432,962.29","$111,020.20","$150,206.86","$6,243.42","$110,783.37","$83,337.67","$22,029.25",$132.50,"$2,017.00"
max,$3.25,"$62,505,646.52","$22,743,616.17","$20,470,572.61","$2,546,439.11","$19,373,134.37","$13,384,586.80","$5,719,096.61","$551,693.65","$2,018.00"